html {
  margin-left: 10%;
  margin-right: 10%;
  background-color: lightgrey;
}

h1 {
  color: rgba(56, 48, 48, 0.977);
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: auto;
  letter-spacing: 0.1em;
}

h2 {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.5em;
  letter-spacing: 0.07em;
}

p {
  line-height: 1.5;
}

li {
  margin: 5px 0 5px 0;
}

.keyPoint {
  text-align: center;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  color:rgb(11, 11, 81);
  border: 3px solid rgb(11, 11, 81);
  margin: 1em 15% 1em 15%;
  padding: 0.6em 0.3em;
  border-radius: 0.6em;
}

#alphaContainer {
  width: 400px;
  height: 400px;
  background-color: magenta;
  font-size: 0;
}

.alphaDemo {
  width: 50%; 
  height: 50%;
  display: inline-block;
}

.circleDiv {
  width: 200px;
  height: 200px;
  background-color: green;
  transition: 3s;
}

.circleDiv:hover {
  background-color: red;
  border-radius: 50%;
}