<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Random Number Generator</h1>
  <form action="result" method="get">
    <label for="minValue">The minimum value</label>
    <input type="text" placeholder="minimum value" name="minValue", id="minValue">
    <br>
    <label for="maxValue">The maximum value</label>
    <input type="text" name="maxValue" id="maxValue" placeholder="maximum value">
    <br>
    <button>Generate Random Number</button>
  </form>
</body>
</html>