<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Looping in EJS</title>
</head>
<body>
  <h1>Looping in EJS</h1>
  <form action="/ejsLoops">
    <button>Click here to continue.</button>
  </form>
</body>
</html>