<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loops Demo</title>
</head>
<body>
  <h1>Loops Demo</h1>
  <p>Let's loop over some of my pets</p>
  <ul>
    <% for (let pet of pets) { %>
      <li><%= pet %></li>
    <% } %>
  </ul>
</body>
</html>