html {
  margin-left: 10%;
  margin-right: 10%;
  background-color: lightgrey;
}

h1 {
  color: rgba(56, 48, 48, 0.977);
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: auto;
  letter-spacing: 0.1em;
}

h2 {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.5em;
  letter-spacing: 0.07em;
}

p {
  line-height: 1.5;
}

li {
  margin: 5px 0 5px 0;
}

#IDSelectorParagraph {
  color: darkslateblue;
}

.redText {
  color: red;
}

#hoverBullet:hover {
  color: blue;
}

#activeBullet:active {
  color: red;
  text-decoration: underline;
}

#pseudoList>li:nth-of-type(2n) {
  color: darkgreen;
  font-size: 120%;
}

#beforeDemo:hover::before {
  content: "Check this out! --> ";
  color: red;
  font-weight: bold;
}
#afterDemo:hover::after {
  content: "--> Get the picture?";
  color: green;
  font-weight: bold;
  text-decoration: underline wavy blue;
}
#selectedAfter:active::after {
  content: "  This only appears if while clicking the paragraph!";
  color: red;
  font-weight: bold;
}