<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conditionals in EJS</title>
</head>
<body>
  <h1>Conditionals in EJS</h1>
  <p>We can embed javascript without the result being rendered in the EJS template by using the &lt;%   /&gt; tags.</p>
  <p>This tag allows us to use javascript to loop over iterables or use if/else conditionals</p>
  

</body>
</html>