<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Number Result</title>
</head>
<body>
  <h1>Your random number between <%= minrand %> and <%= maxrand %> is: <%= result %></h1>

  <form action="/">
    <p>To start over click <button>here</button></p>
  </form>
</body>
</html>