<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a new Product</title>
</head>
<body>
  <h1>Add a product</h1>
  <form action="/products" method="post">
    <label for="name">Product Name</label>
    <input type="text" name="name" placeholder="product name" id="name">
    <br>
    <label for="price">Price (Unit)</label>
    <input type="number" name="price" placeholder="price" step="0.01" id="price">
    <br>
    <label for="category">Category</label>
    <select name="category" id="category">
      <% for(let category of categories) { %>
        <option value="<%= category %>"><%= category %></option>
      <% } %>
    </select>
    <br>
    <button>Submit</button>
  </form>
  <form action="/products" method="get">
    <button>Go back to products list</button>
  </form>
</body>
</html>