<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passing Data to EJS templates</title>
</head>
<body>
  <h1>Passing data to EJS templates</h1>
  <p>We've seen that we can pass pure javescript in EJS files by using the &lt;%= /&gt; tag</p>
  <p>But what if we want to pass data from a javascript file (the server file for example) into an ejs file?</p>
  <p>Enter "/rand" as a url and see what happens</p>
</body>
</html>